<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NG Progessional</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  </head>
  <body ng-app="app">

    <!-- <div class="row" ng-controller="CardsController as cards">
      <div class="col-sm-6 col-md-4" ng-repeat="card in cards.items track by $index">
        <card item="card" index="$index"></card>
      </div>
    </div> -->

    <!-- <div class="row" ng-controller="CardsController as cards">
      <div class="col-sm-6 col-md-4" ng-repeat="card in cards.items track by $index">
        <div class="thumbnail">
          <img ng-src="{{ card.image }}" alt="...">
          <div class="caption">
            <h3 ng-bind="card.title"></h3>
            <p>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in card.list" ng-bind="item"></li>
              </ul>
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button" ng-click="cards.setTitle(card, $index)">Change</a>
              <a href="#" class="btn btn-default" role="button">Cancel</a>
            </p>
          </div>
        </div>
      </div>
    </div> -->

    <card-list></card-list>

    <!-- <div ng-repeat="item in cardListCtrl.cards">
      <card item="item"></card>
    </div> -->


    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/card-list/service.js"></script>
    <script src="js/card-list/index.js"></script>

    <script src="js/card/index.js"></script>
  </body>
</html>
