<div class="panel panel-default">
  <div class="panel-heading">
    {{$ctrl.item.title}}
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.remove()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <div class="checkbox" ng-repeat="todo in $ctrl.item.todos">
      <label><input type="checkbox" ng-checked="todo.isComplete"> {{todo.title}}</label>
    </div>
  </div>
  <div class="panel-footer">
    <input type="text" class="form-control" placeholder="Enter Todo">
  </div>
</div>
